@use "../../sass/variables" as *;


.modal-pay {
    width: 220vh;
    height: 121vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-color: #fff;
    color: #000;
    width: 60%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    
}

.pay-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.pay-title {
    padding-top: 15px;
    padding-left: 35px;
    
    color: $contrast-color;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    
}

.label-pay-type {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    
}

.input-pay {
    width: 524px;
    height: 7%;
    border: 0;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #7A7A7A;
    border-radius: 10px;

    margin-left: 50px;
    padding:9px
}

.input-pay-checkbox {
    border: 0;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #7A7A7A;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.label-pay-checkbox-type {
    padding-left: 20px;
}

.confirm-order {
    align-items: center;
    background-color: #0c70f2;
    width: 320px;
    height: 47px;
    border-radius: 10px;
    border: 0;
    margin-left: 50px;
    margin-top: 20px;

    color: $white;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

.confirm-order:hover{
    transition: all ease 0.5s;
    background-color: black;
    color: white;
}

#nomeVazio{
    padding-right: 332px;
}

#cpfVazio{
    padding-right: 332px;
}

#enderecoVazio {
    padding-right: 332px;
}

#sucess {
    margin-left:50px;
}


