@use "../../sass/variables" as *;

.modal {
    width: 216.5vh;
    height: 121vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    background-color: #fff;
    color: #000;
    width: 60%;
    height: 60%;
    border-radius: 15px;
    display: flex;
    
}

    .container-img {
    display: flex;
    justify-content: left;
    width: 60%;
    height: 60%;
    align-self: center;
}

.cart{
    color: $contrast-color;
    text-align: left;
    padding-top: 110px;
    
}

.item-title {
    
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 20px;

    border-bottom: 2px solid blue;
    padding-bottom: 15px;

}
.item-price {
    padding-top: 15px;
    padding-bottom: 20px;

}

.item-name-color {
    padding-bottom: 10px;
}

.colors-products{
   
    display: flex;
    gap: 1rem;  
}

.buttons {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
}

.button-buy{
    background-color: #0c70f2;
    width: 320px;
    height: 47px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 1.5pc;

    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

.button-finish {
    background-color: gray;
    width: 320px;
    height: 47px;
    border-radius: 10px;
    border: 0;
     
     
    text-decoration: none;
    color: $white;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}


.close-button {
    left: 440px;
    bottom: 120px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    position: relative;
    &::before,
    &::after {
        content: ' ';
        position: absolute;
        width: 2.5px;
        height: 24px;
        background-color: #000;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
  }

  .button-finish:hover{
    transition: all ease 0.5s;
    background-color: black;
    color: white;
}

    .button-buy:hover{
    transition: all ease 0.5s;
    background-color: black;
    color: white;
    }

a {
    color: $white;
    text-decoration: none;
}