
.code-order {
    text-align: center;
    
}

.code-order-text {
    margin-top: 250px;
    margin-bottom: 5px;
}

.code-order-number {
    margin-bottom: 5px;
}

.rastreiamento {
   text-transform: uppercase;
}

.logo-correios {
    width: 10%;
    height: 5%;
    padding-top: 60px;
    padding-left: 15px;
    padding-bottom: 126px;
}

