@use "../../sass/variables" as *;


.login {

    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__form {
        margin-top: 5rem;
        text-align: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;

    }

    h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
    }

    label {
        text-align: left;
        font-size: 20px;
        line-height: 23px;
    }

    &__input-wrapper {
        max-width: 524px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-top: 84px;
    }

    input {
        height: 52px;
        padding: 18px 13px;
        border: 2px solid $border-input-color;
        border-radius: 10px;
        width: 100%;
    }

    button {
        width: 524px;
        margin-right: 10px;
        border: none;
        background-color: $contrast-color;
        border-radius: 6px;
        padding: 13px;
        margin-top: 50px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        cursor: pointer;
    }

    button:hover {
        transition: all ease 0.5s;
        background-color: black;
        color: white;
    }

    a {
        text-decoration: none;
        color: $white;
    }

    #erroNome {
        margin-left: 420px;
    }

    #erroSenha {
        margin-left: 420px;
    }

    p {
        height: 100%;
    }

    #sucess {
        margin-left: -5px;

    }
}


