.carrosel {
    width: 2500px;
    outline: 3px solid black;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);

}

.container-banner {
    position: relative;
    animation: slide 15s infinite ease-out;
    display: flex;
}

@keyframes slide {
    from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-147%);
      }

      
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}